body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: #222;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 120%;
  }

  .sign-up,
  .sign-in {
    background: #000000c7;
    color: white;
    padding: 2em;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    margin: 1em;
  }

  .sign-up input,
  .sign-in input {
        border: none;
        outline: none;
        padding: 0.4em 1em;
        border-radius: 24px;
        background: #7c7c7c1a;
        color: #fff;
        font-family: inherit;
        border: 1px solid #0000004f;
        font-size: 105%;
        width: calc(100% - 100px);
        display: block;
        margin: 1em;
}

.sign-up input:focus,
.sign-in input:focus {
    background: #7c7c7c6b;
    /* background: #fff; */
    /* color: #000 */
}

.sign-up input[type="button"],
.sign-in input[type="button"] {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: #fff;
    font-family: inherit;
    border: 1px solid #00000073;
    font-size: 105%;
    width: calc(100% - 300px);
    display: block;
    margin: 1em;
    text-align: center;
    position: relative;
    left: 120px;
    top: 10px
}

.sign-up input[type="button"]:hover,
.sign-in input[type="button"]:hover {
    background: #7c7c7c6b;
    cursor: pointer;
}
